# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

openapi: "3.0.0"
info:
  title: Feature
  version: 1.0.0
servers:
- url: http://localhost:8080
paths:
  /v1/web-features:
    post:
      summary: Consumes the specified web feature
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - location
              properties:
                location:
                  $ref: "#/components/schemas/ObjectLocation"
       

      responses:
        '200':
          description: Repository downloaded
        '400':
          description: Bad Input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicErrorModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicErrorModel'
        '429':
          description: Rate Limit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicErrorModel'
        '500':
          description: Internal Service Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicErrorModel'
                          
components:
  schemas:
    ObjectLocation:
      type: object
      properties:
        gcs:
          $ref: '#/components/schemas/GCSObjectLocation'
    GCSObjectLocation:
      type: object
      properties:
        bucket:
          type: string
        object:
          type: string
      required:
        - bucket
        - object
    BasicErrorModel:
      type: object
      required:
        - message
        - code
      properties:
        message:
          type: string
        code:
          type: integer
          minimum: 100
          maximum: 600
    ExtendedErrorModel:
      allOf:     # Combines the BasicErrorModel and the inline model
        - $ref: '#/components/schemas/BasicErrorModel'
        - type: object
          required:
            - rootCause
          properties:
            rootCause:
              type: string