go 1.22.0

use (
	./backend
	./lib
	./lib/gen
	./util
	./workflows/steps/services/bcd_consumer
	./workflows/steps/services/common/repo_downloader
	./workflows/steps/services/web_feature_consumer
	./workflows/steps/services/wpt_consumer
)
