main:
  params: [input]
  steps:
    - consumeWPT:
        call: http.post
        args:
          url: ${wpt_consume_step_url}/v1/wpt
          timeout: 1800
          auth:
            type: OIDC
          headers:
            Content-Type: "application/json"
        result: consumeResponse
