main:
  steps:
    - run_job:
        call: googleapis.run.v1.namespaces.jobs.run
        args:
            name: namespaces/${project_id}/jobs/${job_name}
            location: ${job_location}
            connector_params:
                timeout: ${timeout}
        result: job_execution
    - finish:
        return: $${job_execution}