main:
  params: [input]
  steps:
    - consumeWebFeatures:
        call: http.post
        args:
          url: ${web_feature_consume_step_url}/v1/web-features
          auth:
            type: OIDC
          headers:
            Content-Type: "application/json"
        result: consumeResponse
